---
import Base from '../../layouts/Base.astro';
import photos from '../../../data/photos.json';

export async function getStaticPaths() {
  return photos.map(photo => ({
    params: { slug: photo.slug },
    props: { photo },
  }));
}

const { photo } = Astro.props;
---
<Base title={photo.location} activePage="creatives" wide={true}>
  <div class="creative-block">
    <div class="creative-inner">
      <img src={photo.image} alt={photo.location} class="creative-full" />
      <div class="creative-meta">
        <div>
          <span class="creative-location">{photo.location}</span>
          <p class="creative-copyright">© Matteo Dada. All Rights Reserved.</p>
        </div>
        <span class="creative-camera">taken with {photo.camera}</span>
      </div>
    </div>
  </div>
</Base>
