---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';

const adventures = await getCollection('adventures');
adventures.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));

---
<Base title="adventures" activePage="adventures" wide={true}>
  <div class="adventures-grid">
    {adventures.map(entry => (
      <div class="adventure-card">
        <img src={entry.data.cover} alt={entry.data.title} />
        <a href={`/adventures/${entry.id}`}>{entry.data.title}</a>
        <span class="adventure-date">{entry.data.date_label}</span>
      </div>
    ))}
  </div>
</Base>
